@import './utils/reset.scss';
@import './params.scss';
@import './fonts.scss';

body {
  font-family: 'epilogue', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: 343px;
  margin: 0 auto;
  @include tablet_display {
    max-width: 700px;
  }
  @include pc_display {
    max-width: 1470px;
  }
}

// header------------

.page_header {
  &__wrapper {
    min-height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    & img {
      width: 87px;
      height: 35px;
    }
  }
  &__menu {
    width: 32px;
    height: 18px;
    cursor: pointer;
    @include pc_display {
      display: none;
    }
  }
}

.navigation {
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 28px;
  padding: 20px 20px 0 20px;
  transition: right 0.4s;
  &--active {
    right: 0;
  }
  @include pc_display {
    position: relative;
    flex-direction: row;
    padding: 0;
    gap: 40px;
    inset: unset;
    align-items: center;
    width: 100%;
    padding-left: 60px;
  }
  &__closeIcon {
    align-self: end;
    cursor: pointer;
    flex: 0 1 auto;
    margin-bottom: 16px;
    @include pc_display {
      display: none;
    }
  }
  &__item {
    text-decoration: none;
    align-self: start;
    width: fit-content;
    transition: color 0.4s;
    color: #686868;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    @include pc_display {
      align-self: center;
    }
    &:active {
      outline: none;
      border: none;
    }
    @include hover {
      &:hover {
        color: #151515;
      }
    }
    &__arrowUp {
      margin-left: 17px;
      transition: rotate 0.4s;
    }
  }
  &__login {
    text-decoration: none;
    margin-top: 16px;
    transition: color 0.4s;
    color: #686868;
    @include hover {
      &:hover {
        color: #151515;
      }
    }
    @include pc_display {
      margin-top: 0;
      margin-left: auto;
    }
  }
  &__register {
    width: 100%;
    text-decoration: none;
    border: solid 1.5px #686868;
    border-radius: 14px;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #686868;
    @include tablet_display {
      width: 60%;
    }
    @include pc_display {
      width: unset;
      min-width: 104px;
    }
  }
  &__submenu {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 22px;
    display: none;
    opacity: 0;
    transition:
      opacity 0.4s,
      display 0.4s;
    @supports (transition-behavior: allow-discrete) {
      transition-behavior: allow-discrete;
    }

    @include pc_display {
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      border-radius: 10px;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff;
      padding: 24px;
    }
    &--active {
      opacity: 1;
      display: flex;
    }
    &__item {
      margin-left: 24px;
      text-decoration: none;
      color: #686868;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.4s;
      @include pc_display {
        margin-left: 0;
        align-self: baseline;
      }
      @include hover {
        &:hover {
          color: #151515;
        }
      }
      & img {
        height: 16px;
        width: auto;
      }
    }
  }
}

div[data-submenu='1'] {
  @include pc_display {
    min-width: 153px;
    min-height: 160px;
    left: -40px;
  }
}

div[data-submenu='2'] {
  @include pc_display {
    position: absolute;
    top: 100%;
    left: 195px;
    width: auto;
  }
}
// main page

.page_main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-row-gap: 47px;
  @include tablet_display {
    margin-top: 30px;
  }
  @include pc_display {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 51px;
    grid-auto-rows: unset;
    justify-content: center;
  }
  & img {
    max-inline-size: 100%;
    max-block-size: 100%;
  }
  &__image {
    @include pc_display {
      grid-column: 2/3;
      grid-row: 1/2;
      content: url('../img/image-hero-desktop.png');
      max-width: 85%;
      padding-right: 0;
      justify-self: end;
    }
  }
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @include pc_display {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    align-items: start;
  }
  &__header {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    @include tablet_display {
      font-size: 40px;
    }
    @include pc_display {
      font-size: 80px;
      text-align: left;
    }
  }
  &__text {
    color: #686868;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    @include tablet_display {
      font-size: 18px;
      @include pc_display {
        max-width: 445px;
        text-align: left;
      }
    }
  }
  &__btn {
    text-decoration: none;
    background-color: #151515;
    border: solid 1px #151515;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    min-width: 136px;
    font-weight: 500;
    transition: all 0.4s;
    &:focus-visible {
      background-color: transparent;
      color: #151515;
    }
    @include hover {
      &:hover {
        background-color: transparent;
        color: #151515;
      }
    }
  }
}

.partners {
  margin-top: 32px;
  @include tablet_display {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    &:not(:last-child) {
      @include tablet_display {
        margin-right: 40px;
      }
    }
  }
  &__link {
    & img {
      height: 26px;
      width: auto;
    }
  }
}
